{% extends "base.html" %}

{% block title %}
Reservas
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div style = 'background-color: #483D8B' class="jumbotron jumbotron-fluid ">
                <div class="container">
                    <h1 style='color:white'class="display-4">Stands</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{stands.localizacao}}</h5>
            
        </div>

        <div class="card-body">
            <h5 class="card-title">{{stands.valor}}</h5>
            
        </div>
        
    </div>
{% endblock %}