{% extends "base.html" %}

{% block title %}
Reservas
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div style = 'background-color: #483D8B' class="jumbotron jumbotron-fluid ">
                <div class="container">
                    <h1 style= 'color: white;' class="display-4">Reservas</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">NOME:{{reservas.nome_empresa}}</h5>
            
        </div>

        <div class="card-body">
            <h5 class="card-title">CATEGORIA DA EMPRESA:{{reservas.categoria_empresa}}</h5>
            
        </div>

        <div class="card-body">
            <h5 class="card-title">CNPJ:{{reservas.cnpj}}</h5>
            
        </div>

        <div class="card-body">
            <h5 class="card-title">STAND:{{reservas.stands}}</h5>
            
        </div>

        <div class="card-body">
            <h5 class="card-title">QUITAÇÃO:{{reservas.quitado}}</h5>
            
        </div>
        <div class="card-footer text-center">
         
        </div>
    </div>
{% endblock %}