{% extends "base.html" %}

{% block title %}
Reservas
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div style = 'background-color: #7386D5' class="jumbotron jumbotron-fluid ">
                <div class="container">
                    <h1 style= 'color: white;' class="display-4">Reservas</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">NOME:{{object.nome_empresa}}</h5>
            
        </div>

        <div class="card-body">
            <h5 class="card-title">CATEGORIA DA EMPRESA:{{object.categoria_empresa}}</h5>
            
        </div>

        <div class="card-body">
            <h5 class="card-title">CNPJ:{{object.cnpj}}</h5>
            
        </div>

        <div class="card-body">
            <h5 class="card-title">STAND:{{object.standes}}</h5>
            
        </div>

        <div class="card-body">
            <h5 class="card-title">QUITAÇÃO:{{object.quitado}}</h5>
            
        </div>
        <div class="card-footer text-center">
         
        </div>
    </div>
{% endblock %}