{% extends 'base.html' %}

{% block title %}
  Página Inicial
{% endblock %}

{% block content %}
  <h2>Bem-vindo ao seu destino para o sucesso de exposições e eventos.</h2>
  <div class='texto'>
  <h5>Reserve com Facilidade:</h5>
  <p style="  font-weight: 400;">
    A sua jornada começa com uma reserva simples e descomplicada. 
    Com apenas alguns cliques, você pode garantir o 
    seu espaço em eventos de prestígio e exposições que atraem milhares de visitantes.</p>
  <p style="  font-weight: 400;">Descubra o poder das reservas bem-feitas e dos stands que brilham. A sua história começa aqui. Reserve agora e destaque-se!
  </p>

<h5>Sucesso Garantido:</h5>
<p style="  font-weight: 400;"> Quando você reserva conosco, está investindo no seu próprio sucesso. Nossas soluções de reservas inteligentes e stands de alta qualidade criam um impacto duradouro, 
  atraindo olhares, gerando leads e impulsionando resultados.</p>

  </div>

 
{% endblock %}
