{% extends "base2.html" %}

{% block title %}Entrar{% endblock %}

{% load i18n %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block content %}
<ul class="nav nav-pills nav-justified mt-4 mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
      aria-controls="pills-login" aria-selected="true">Login</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="{% url 'users:create' %}" role="tab"
      aria-controls="pills-register" aria-selected="false">Register</a>
  </li>
</ul>
<div class="main-content pl-sm-3 mt-4" id="main-content">
  <div class="row justify-content-between align-items-center">
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
              class="img-fluid" alt="Phone image">
          </div>
    <div class="div-system-access col-md-5 col-lg-5 col-xl-5 col-12">
      <h1 class="text-h1">{% translate "Acesso ao Sistema" %}</h1>
      <form class="login" method="POST" action="#">
        {% csrf_token %}
        <div class="br-input">
          <label for="id_login">{% translate "Username:" %}</label>
          

          <div class="validate-input m-b-16 br-input" data-validate="Please enter username">
            <div class="form-control form-control-lg" >
              <div class="ml-3 ">{{  form.username }}</div>
            </div>
          </div>
        </div>

        <div class="validate-input m-b-16 br-input mt-2" data-validate="Please enter password">
          <label for="id_password">{% translate "Senha:" %}</label>
          <div class="form-control form-control-lg">
            <div class="ml-3 ">{{ form.password }}</div>
          </div>
        </div>

        
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
       
       
        <div class="text-right p-t-13 p-b-23">
          <div class="d-flex justify-content-between mb-4">
            <!-- Checkbox -->
            <div class="form-check ">
              <input class="form-check-input" type="checkbox"  value="" id="form1Example3" checked />
              <label class="form-check-label " for="form1Example3"> Remember me </label>
            </div>
            <a class="button secondaryAction txt2 " href="#">Forgot password?</a>
          </div>
        
        <div class="container-login100-form-btn">
          <button class="btn btn-primary btn-lg btn-block" style="background-color:#7386D5" type="submit">{% translate 'Entrar' %}</button>
         
        </div>
      </form>
      <span class="br-divider my-3"></span>
      <p class="first-access-href">
        <a style="text-decoration-line: none" href="{% url 'users:create' %}">{% translate "Primeiro Acesso?" %}</a>
      </p>
    </div>
  </div>
</div>


{% endblock %}