{% extends "base.html" %}

{% block title %}Cadastro de reservas{% endblock %}

{% block content %}
<div class="mt-5">

    <h2>Cadastro de Reservas</h2>
    <form method= 'post'>
        {% csrf_token %}
        

        <div class="form-group">
            <label for="exampleInputEmail1">CNPJ:</label>
            {{form.cnpj}}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Nome: </label>
            {{form.nome_empresa}}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Categoria: </label>
            {{form.categoria_empresa}}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Quitação: </label>
            {{form.quitado}}
        </div>

        

        <div class="form-group">
            <label for="exampleInputEmail1">Stand: </label>
            {{form.standes}}
        </div> 
        
      

        <button style=' background-color:#7386D5 ; color:white 'type="submit" class="btn ">Enviar</button>
      </form>
</div>      
{% endblock %}
