{% extends "base.html" %}

{% block title %}Lista de Reservas{% endblock %}

{% block content %}
<div class="mt-5">
    <h2>Lista de Reservas</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th style='font-size:20px'scope="col">Nome da empresa</th>
               
                <th style='font-size:20px'scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            
            {% for reserva in reservas %}
            
            <tr>
                
                <td>{{reserva.nome_empresa}}</td>
                <td>
                    <a style='color:#483D8B'href="{% url 'reserva_editar' id=reserva.id %}"><i class="fas fa-edit"></i></a>
                    <a style='color:#483D8B'href="{% url 'reserva_remover' id=reserva.id %}"><i class="fas fa-trash-alt"></i></a>
                    <a style='color:#483D8B'href="{% url 'detalhes' id=reserva.id %}"><i class="fas fa-search"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-3">
        <a style='background-color:#483D8B'href="{% url 'reserva_criar' %}" class="btn btn-primary">Adicionar Novo</a>
    </div>
</div>
{% endblock %}
