{% extends 'base.html' %}

{% block title %}
Cadastro de Reservas
{% endblock %}

{% block content %}
<div class="mt-5">
  <h2>Formulário para Cadastro de Reservas</h2>
  <form method="post">
    <section class="form container-fluid p-5x">
      {% csrf_token %}
      <p> Você tem certeza que deseja excluir "{{ object.nome_empresa }}"?</p>
      {{ form }}
    </section>

    <a href="{% url 'stand_listar' %}" style=' background-color:#7386D5;  color:white' class="btn ">
      Voltar
    </a>
    <button style=' background-color:#7386D5 ; color:white ' type="submit" class="btn ">
      Confirmar
    </button>
  </form>

</div>
{% endblock %}