{% extends 'base.html' %}

{% block title %}
  Cadastro de Reservas
{% endblock %}

{% block content %}
  <div class="mt-5">
    <h2>Formulário para Cadastro de Reservas</h2>
    <form method="post">
        <section class="form container-fluid p-5x">
        {% csrf_token %}
          <p> Você tem certeza que deseja excluir "{{ object.nome_empresa }}"?</p>
          {{ form }}
      </section>
        <button style=' background-color:#483D8B' type="submit" class="btn btn-primary">
          Confirmar
        </button>
      </form>
    
  </div>
{% endblock %}
