{% extends "base.html" %}

{% block title %}Lista de Reservas{% endblock %}

{% block content %}
<div class="mt-5">
    <h2>Lista de Reservas</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th style='font-size:20px'scope="col">Nome da empresa</th>
                <th style='font-size:20px'scope="col">Categoria</th>
               
                <th style='font-size:20px'scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            
            {% for object in object_list %}
            
            <tr>
                
                <td>{{object.nome_empresa}}</td>
                <td>{{object.categoria_empresa}}</td>
                <td>
                    <a style='color:#483D8B'href="{% url 'reserva_editar' pk=object.pk %}"><i class="fas fa-edit"></i></a>
                    <a style='color:#483D8B'href="{% url 'reserva_remover' pk=object.pk %}"><i class="fas fa-trash-alt"></i></a>
                    <a style='color:#483D8B'href="{% url 'detalhe' pk=object.pk %}"><i class="fas fa-search"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">
                <p>Não existem reservas cadastradas.</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-3">
        <a style='background-color:#483D8B; color:white 'href="{% url 'reserva_criar' %}" class="btn btn">Adicionar Novo</a>
    </div>
</div>
{% endblock %}
