{% extends "base.html" %}

{% block title %}Cadastro de Stands{% endblock %}

{% block content %}
<div class="mt-5">

    <h2>Cadastro de Standes</h2>
    <form method= 'post'>
        {% csrf_token %}
        

        

        <div class="form-group">
            <label for="exampleInputEmail1">Localização:</label>
            {{form.localizacao}}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Valor:</label>
            {{form.valor}}
        </div>

       
        
      

        <button style=' background-color:#7386D5; color: white;' type="submit" class="btn ">Enviar</button>
      </form>
</div>      
{% endblock %}
