{% extends "base.html" %}


{% block title %}Lista de stands{% endblock %}

{% block content %}
<div class="mt-5">
    <h2 >Lista de stands</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th style='font-size:20px'scope="col">Stands</th>
               
                <th style='font-size:20px'scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            
            {% for stand in stands %}
            
            <tr>
                
                <td>{{stand.localizacao}}</td>
                <td>
                    <a style='color:#483D8B'href="{% url 'stand_editar' id=stand.id %}"><i class="fas fa-edit"></i></a>
                    <a style='color:#483D8B'href="{% url 'stand_remover' id=stand.id %}"><i class="fas fa-trash-alt"></i></a>
                    <a style='color:#483D8B'href="{% url 'detalhes2' id=stand.id %}"><i class="fas fa-search"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-3">
        <a style=' background-color:#483D8B'href="{% url 'stand_criar' %}" class="btn btn-primary">Adicionar Novo</a>
    </div>
</div>
{% endblock %}
