{% extends 'base.html' %}

{% block title %}
Cadastro de Stands
{% endblock %}

{% block content %}
<div class="mt-5">
  <h2>Formulário para Cadastro de Stand</h2>
  <form method="post">
    <section class="form container-fluid p-5x">
      {% csrf_token %}
      <p>Tem certeza que deseja excluir "{{ object.localizacao }}"?</p>
      {{ form }}
    </section>

    <a href="{% url 'stand_listar' %}" style=' background-color:#7386D5;  color:white' class="btn ">
      Voltar
    </a>

    <button style=' background-color:#7386D5;  color:white' type="submit" class="btn ">
      Confirmar
    </button>


  </form>

</div>
{% endblock %}